<h1>photo market inc</h1>

<div id="images">
  <% if @images.any? %>
    <% @images.each do |image| %>
      <%= image.name %>
      <%= form_tag("/add_to_cart", method: "post") do %>
        <%= hidden_field_tag(:image_id, image.id) %>
              <%= hidden_field_tag(:image_id, image.price) %>
              <!-- another hidden field to get the price of the image -->
        <%= submit_tag("Add to cart") %>
      <% end %>
    <% end %>
  <% else %>
    <p>No images yet!</p>
  <% end %>

</div>
